<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portofolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='fav.png') }}">
</head>
<body>
    <header>
        <h1>Mangkudilaga</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">Tentang</a>
            <a href="/contact">Kontak</a>
        </nav>
    </header>
    <main>
    </main>
</body>
</html>
